# Global owner
* @samhermeli @mminestrelli @luiquezada @Harievilozanini @ivillaverde @diegomarcuz @edsonsilvestrebento @melifelipub @williamnstolb

# Plugin-level ownership
/plugins/mercadopago/ @samhermeli @mminestrelli @luiquezada @Harievilozanini @ivillaverde @diegomarcuz @edsonsilvestrebento @melifelipub @williamnstolb
